.tab-content > .tab-pane,
.pill-content > .pill-pane {
    visibility:hidden;
    position: absolute;
}

.tab-content > .active,
.pill-content > .active {
    visibility:visible;
    position: absolute;
}

.footer
{
    position: fixed;
    bottom: 0;
    left: 0;
}

.out
{

    overflow: scroll;
    height: 30%;
    width: 100%;
}

.api button
{
    position: inherit;

}

.api p
{
    margin-bottom: 20px;
    margin-top: 20px;
}

.TestTitle
{
    color: Blue;
}

.TestResult
{
    color: green;
}

.TestEnd
{
    color: Blue;
}