#loader {
    display: inline-block;
    visibility: hidden;
}

#loader img{
    height: 34px;
}

#loaderModal {
    display: inline-block;
}

#loaderModal img{
    height: 34px;
}

#loaderUpload {
    display: inline-block;
    visibility: hidden;
}

#loaderUpload img{
    height: 34px;
}

#loaderUploadModal {
    display: inline-block;
}

#loaderUploadModal img{
    height: 34px;
}

#boxBrand a{
    color: inherit;
    text-decoration: none;
}

#imgLogo{
    height: 58px;
    margin-top: -15px;
}

div.upload-form-area-section
{
   /*display:inline-block;*/
    /*margin:10px 5px;*/
    /*border:1px solid silver;
    background-color: #f2f2f2;*/
    /*padding: 5px 10px;*/
}

div.upload-model-error-section
{
    border:1px solid orange;
    background-color:#ffe6cc;
    padding:10px 20px;
    color:black;
    font-size:10pt;
    text-align:center;
}

#btnCalculateResult {
    visibility: hidden;
}

#btnShowResults{
    visibility: hidden;
    display: none;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#navbar {
    color: white;
    /* background-color: black;*/

}

#navbar .row > div{
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    vertical-align: top;
}

.container-below-navbar {
    width: 100%;
    /*margin-top: 51px;*/
}

.container-process {
    margin: 0;
    padding: 0;
}

.client-main {
    margin-left: -15px;
}

.client-sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    right: 75%;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: scroll;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

#process_name {
    font-weight: bold;
    font-size: large;
}

.exchangeBlock, .paramBlock {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#version {
    font-size: 66%;
}

.jstree-default .jstree-node, .jstree-default .jstree-icon {
    xxbackground-image: url("images/32px.png");
}

.button_row {
    /*height: 40px;*/
    margin-bottom:12px;
}

.process_row {
    margin-top: 5px;
    margin-bottom: 10px;
}

.process_row label {
    text-align: right;
}

#process_description {
    min-width: 50%;
    min-height: 200px;
}

.no_side_padding {
    padding-left: 0;
    padding-right: 0;
}
.button-column {
    width: 4%;
}

#nav-link {
    display: inline-block;
    text-align:center;
    text-decoration:none;
}

#boxBrand{
    font-size: 20px;
}

#menuTop{
    margin-bottom:0px;
}

#navbar .form-controlNav {
    margin:0px 5px 8px 0px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#calculModal .form-controlNav,
#uploadModal .form-controlNav{
    margin: 0px 5px 8px 0px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    min-width:100%;
    display:block;
    visibility:visible;
}

#calculModal #btnCalculateResult{
    display:inline-block;
    visibility:visible;
}

#modelUploadSelect{
    margin-bottom:10px;
}

.inputDetail{
    min-width:152px;
}

#newExchangeModalForm .row{
    margin-bottom:8px;
}

.noPadding {
    padding: 0 !important;
    margin: 0 !important;
}

.noMargin{
    margin:0px !important;
}

.noPaddingLeft{
    padding-left:0px;
}

.hideElement{
    display:none;
}

.file {
    visibility: hidden;
    position: absolute;
}

.glow {

    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
    0% {  }
    40% { background-color:#E0E0FF; }
    60% { background-color:#E0E0FF; }
    100% { }
}

@-moz-keyframes glowing {
    0% {  }
    40% { background-color:#E0E0FF; }
    60% { background-color:#E0E0FF; }
    100% { }
}

@-o-keyframes glowing {
    0% {  }
    40% { background-color:#E0E0FF; }
    60% { background-color:#E0E0FF; }
    100% { }
}

@keyframes glowing {
    0% {  }
    40% { background-color:#E0E0FF; }
    60% { background-color:#E0E0FF; }
    100% { }
}
.vakata-context {
    z-index: 1100
}


