@import org.ububiGroup.ububi.BuildInfo;
  @*
  PROJECT: UBUBI
  Auth:
  Mathieu Dupuis
  Date: ETE 2017

  Copyright [2017] [Mathieu Dupuis]

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

  *@
<div id="boxBrand" align="right">
<a href="http://www.ububi.org" target="_blank">
  <img id="imgLogo" src="@routes.Assets.at("images/logo.png")">

  <span id="api_name">@BuildInfo.name</span>
  <span id="api_version">@BuildInfo.version</span>
</a>
</div>