@(revitToken : String)
@main("UBUBI - Client") {
@*
PROJECT: UBUBI
Auth:
Mathieu Dupuis
Date: ETE 2017

Copyright [2017] [Mathieu Dupuis]

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

*@

    <nav id="menuTop" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">

            <div id="navbar" class="clearfix col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <select id="modelSelect" class="form-controlNav">
                            <option value="-1">Select a model...</option>
                        </select>

                        <button class="btn btn-default btn-md" id="btnRefreshModel"><span class="glyphicon glyphicon-refresh"></span></button>
                        <button class="btn btn-default btn-md" data-toggle="modal" data-target="#RevitConnectModal"><span class="fa fa-plug"></span></button>
                        <button id="btnUploadDialog" class="btn btn-default btn-md" type="button" data-toggle="modal" data-target="#uploadModal"><span class="glyphicon glyphicon-upload"></span></button>
                        <div id="loaderUpload" class="noPadding"><img src="@routes.Assets.at("images/loading.gif")" alt="loading..."/></div>
                    </div>
                    <div class="col-md-6">

                        <button id="btnCalculateResult" data-toggle="modal" data-target="#calculModal" class="btn btn-default btn-md">Calculate...</button>

                        <div id="loader" class="noPadding"><img src="@routes.Assets.at("images/loading.gif")" alt="loading..."/></div>
                        <button id="btnShowResults" class="btn btn-default btm-md">Results ...</button>
                    </div>
                    <div class="col-md-3" align="right">
                        @brand.render()
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="calculModal" role="dialog">
        <div class="modal-dialog">

                <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <h4 class="modal-title">Calculate</h4>
                </div>


                <div class="modal-body">
                    <div class="clearfix">
                        <label>Impact assessment method</label>
                        <select id="methodSelect" class="form-controlNav">
                            <option value="-1">Select a method...</option>
                        </select>

                        <label>Description</label>
                        <input id="methodDescription" class="form-controlNav" type="text" placeholder="Please write a description" />
                    </div>
                </div>

                <div class="modal-footer">
                    <div id="loaderModal" class="noPadding"><img class="hideElement" src="@routes.Assets.at("images/loading.gif")" alt="loading..."/></div>
                    <button id="btnStartCalculate" type="button" class="btn btn-default btn-primary">Calculate</button>

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="errorDialogueWhenChangingAmount" role="dialog">
        <div class="modal-dialog">

                <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <h4 class="modal-title">Error</h4>
                </div>


                <div class="modal-body">
                    You may not update the amount if the entity type is: <br /><br />
                    - BIMUniformat<br />
                    - BIMRoot<br />
                    - Unknown <br />


                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="uploadModal" role="dialog">
        <div class="modal-dialog">

                <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <h4 class="modal-title">Create or Update a Model</h4>
                </div>


                <div class="modal-body">
                    <div id="upload-model-messages-section" class="hideElement upload-model-error-section"></div>

                    <div class="upload-form-area-section">
                        <div class="row clearfix">
                            <div class="col-md-6">
                                <label>Model</label>
                                <select id="modelUploadSelect" class="form-controlNav" style="height:34px;">
                                    <option>- New model -</option>
                                </select>
                            </div>

                            <div class="col-md-6" id="boxModelName">
                                <label>Model Name</label>
                                <input placeholder="Enter New Model Name" id="modelName" class="form-controlNav" type="text" />
                            </div>
                        </div>

                        <hr height="2"/>

                        <div class="clearfix row">
                            <div class="col-md-12">
                                <label>IED file</label>
                                <div class="form-group">
                                    <input type="file" id="ied" class="file">
                                    <div class="input-group col-xs-12">
                                        <span class="input-group-addon">
                                            <i class="fa fa-files-o"></i>
                                        </span>

                                        <input type="text" class="form-control input-lg" disabled placeholder="Select a ied file...">

                                        <span class="input-group-btn">
                                            <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
                                        </span>
                                    </div>
                                </div>
                                <p>Need IEDExport plugin for Revit? Click here : <a href="https://www.dropbox.com/s/vshambfnl0ceb18/IEDExport3.0.zip?dl=1" target="_blank">Download</a></p>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="modal-footer">
                    <div id="loaderUploadModal" class="noPadding"><img class="hideElement" src="@routes.Assets.at("images/loading.gif")" alt="loading..."/></div>
                    <button id="btnUploadFiles" type="button" class="btn btn-default btn-primary">Upload</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="RevitConnectModal" role="dialog">
        <div class="modal-dialog">

                <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <h4 class="modal-title">Connect to Revit</h4>
                </div>


                <div class="modal-body">
                    <div class="row">
                        <div class="col col-md-12">
                            <p><b>Revit session key : </b><span id="revitToken">@revitToken</span>&nbsp;&nbsp;<a href="#" onclick="renewToken()">Renew</a></p>
                            <p><b>Caution:</b> When you renew your token, all connexion open with the old token will be close</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12"><b>Instructions:</b></div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <ol>
                                <li>Download Revit-Link <a href="https://www.dropbox.com/s/k9jqb1xb1zn935y/UbubiRevitLink1.0.zip?dl=1">here</a></li>
                                <li>Install Revit-Link add-in (See readme.txt in ressource folder).</li>
                                <li>In Revit, go in the menu Management</li>
                                <li>Enter the session Revit sesion key</li>
                                <li>Click on connect button</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="flowPropertyModal" role="dialog">
        <div class="modal-dialog">

                <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <h4 class="modal-title">Flow properties</h4>
                </div>


                <div class="modal-body">
                    <div class="row">
                        <div class="col col-md-12">
                            <input type="hidden" id="flowPropertyProcess">
                            <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th class="col-md-1">Flow Property</th>
                                <th class="col-md-1">Ratio</th>
                                <th class="col-md-2">Default Unit</th>
                            </tr>
                            </thead>
                            <tbody id="flowPropertyTable"></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div id="boxContent" class="container container-below-navbar">
        <div class="row"><!-- main body -->
            <div id="treebar" class="col-sm-3">
                <div class="client-sidebar">
                    <div id="tree"></div>
                </div>
            </div>

            <div id="display" class="col-sm-9">
                <div class="client-main">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#process" id="processTab">Process</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#exchanges" id="exchangesTab">Exchanges</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#params" id="paramTab">Parameters</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#global_parameter" id="global_parameterTab">Global Parameters</a>
                        </li>
                    </ul>

                    <div class="tab-content" style="margin: 20px">
                        <div id="process" class="tab-pane fade in active"></div>

                        <div id="exchanges" class="tab-pane fade"></div>

                        <div id="params" class="tab-pane fade"></div>

                        <div id="global_parameter" class="tab-pane fade"></div>
                    </div>

                    <!-- div ng-app="demo" ng-controller="getModels">
                        <p>The models are {{models}}</p>
                        <p>NG-Repeat:</p>
                        <div ng-repeat="model in models">
                            <p>
                                -- Model Id is {{model.id}}<br>
                                -- Model Name is {{model.name}}
                            </p>
                        </div>
                    </div -->
                </div>
            </div>
        </div>
    </div>

    <script src="@routes.Assets.at("javascripts/rest.js")"></script>
    <script src="@routes.Assets.at("javascripts/tree.js")"></script>
    <script src="@routes.Assets.at("javascripts/templates.js")"></script>
    <script src="@routes.Assets.at("javascripts/ui.js")"></script>
    <div class="row page-footer"></div>
}
