@main("Dev Zone") {
@*
PROJECT: UBUBI
Auth:
Mathieu Dupuis
Date: ETE 2017

Copyright [2017] [Mathieu Dupuis]

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

*@
<script>
    var jsonData= {
        "state":"\"success\"",
        "version":1,
        "file_lci":"http://127.0.0.1:9019/getFile/lci_dev_4444404444_v1_1142701_1612749146.txt",
        "file_lcia":"http://127.0.0.1:9019/getFile/lcia_dev_4444404444_v1_1142701_1612749146.txt",
        "file_graph_lcia":"http://127.0.0.1:9019/getFile/lcia-tree_dev_4444404444_v1_1142701_1612749146.txt",
        "file_sens_lcia":"http://127.0.0.1:9019/getFile/SENS-lcia_dev_4444404444_v1_1142701_1612749146.txt",
        "file_lcia_unc":"http://127.0.0.1:9019/getFile/uncertainty-lcia_dev_4444404444_v1_1142701_1612749146.txt",
        "code":1,
        "message":"Successfull ...",
        "calculationid":"dev_4444404444_v1_1142701_1612749146",
        "idModel":4,
        "description":"patate"
    };

    var jsonDataSelectPart = {
      "id":"1142807"
    };

    function loadJson()
    {
        var txtFiled = document.getElementById("jsonVar");
        txtFiled.value = JSON.stringify(jsonData,null,"\t");
    }
    function saveJson()
    {
        var txt = document.getElementById("jsonVar").value;
        jsonData = JSON.parse(txt);
    }
</script>


    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="danger-tab" data-toggle="tab" href="#danger" role="tab" aria-controls="danger" aria-selected="false">Danger</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="parameter-tab" data-toggle="tab" href="#parameter" role="tab" aria-controls="parameter" aria-selected="false">Parameter</a>
        </li>
    </ul>
    <div class="tab-content" id="tabContent">
        <div class="tab-pane show active" id="info" role="tabpanel" aria-labelledby="info-tab">
            <div class="container">
                <div class="row api">
                    <div class="col-md-4">
                        <h3>Service</h3>
                        <p>Info<button type="button" class="btn btn-primary" onclick="TestAjax('API info',jsAPI.controllers.API.Service.info())">Test</button></p>

                        <h3>Excel File Downloading</h3>
                        <p>Result Set ID:
                            <input type="text" size="10" id="excelResultSetId" /><button type="button" class="btn btn-primary" onclick="window.location='/api/Spark/GetExcelFile/' + document.getElementById('excelResultSetId').value">Download</button>
                        </p>
                        <h3>Revit</h3>
                        <p>Request Revit Token
                            <button type="button" class="btn btn-primary" onclick="TestAjax('API info',jsAPI.controllers.API.RevitSocketLink.requestToken());">Test</button>
                        </p>
                        <p>Select from process
                            <button type="button" class="btn btn-primary" onclick="TestAjax('API info',jsAPI.controllers.API.RevitSocketLink.selectId(),jsonDataSelectPart);">Select</button>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h3>Model</h3>
                        <p>BIMModel
                            <input type="text" size=10 id="idBIMModel" value="1">
                            <button type="button" class="btn btn-primary" onclick="TestAjax('API info',jsModel.controllers.API.model.BIMModel.getInfo(document.getElementById('idBIMModel').value))">Test</button>
                            <button type="button" class="btn btn-primary" onclick="TestAjax('API info',jsModel.controllers.API.model.BIMModel.getForeGroundProcess(document.getElementById('idBIMModel').value))">FG</button>
                        </p>

                        <p>Process
                            <input type="text" size=10 id="idProcess" value="1048051">
                            <button type="button" class="btn btn-primary" onclick="TestAjax('API info',jsModel.controllers.API.model.BIMModel.getProcess(document.getElementById('idBIMModel').value,document.getElementById('idProcess').value))">BIM</button>&nbsp;
                            <button type="button" class="btn btn-primary" onclick="TestAjax('API info',jsModel.controllers.API.model.Process.getInfo(document.getElementById('idProcess').value))">Test</button>
                        </p>

                        <p>Flow
                            <input type="text" size=10 id="idFlow" value="1048501">
                            <button type="button" class="btn btn-primary" onclick="TestAjax('API info',jsModel.controllers.API.model.BIMModel.getFlow(document.getElementById('idBIMModel').value,document.getElementById('idFlow').value))">BIM</button>&nbsp;
                            <button type="button" class="btn btn-primary" onclick="TestAjax('API info',jsModel.controllers.API.model.Flow.getInfo(document.getElementById('idFlow').value))">Test</button>
                        </p>

                        <p>Exchange
                            <input type="text" size=10 id="idExchange" value="1048698">
                            <button type="button" class="btn btn-primary" onclick="TestAjax('API info',jsModel.controllers.API.model.BIMModel.getExchange(document.getElementById('idBIMModel').value,document.getElementById('idExchange').value))">BIM</button>&nbsp;
                            <button type="button" class="btn btn-primary" onclick="TestAjax('API info',jsModel.controllers.API.model.Exchange.getInfo(document.getElementById('idExchange').value))">Test</button>
                            <button type="button" class="btn btn-danger" onclick="TestAjax('API info',jsModel.controllers.API.model.Exchange.delete(document.getElementById('idExchange').value))">Del</button>
                        </p>

                        <p>Category
                            <input type="text" size=10 id="idCategory" value="1048201">
                            <button type="button" class="btn btn-primary" onclick="TestAjax('API info',jsModel.controllers.API.model.BIMModel.getCategory(document.getElementById('idBIMModel').value,document.getElementById('idCategory').value))">BIM</button>&nbsp;
                            <button type="button" class="btn btn-primary" onclick="TestAjax('API info',jsModel.controllers.API.model.Category.getInfo(document.getElementById('idCategory').value))">Test</button>
                        </p>

                        <p>Unit
                            <input type="text" size=10 id="idUnit" value="512">
                            <button type="button" class="btn btn-primary" onclick="TestAjax('API info',jsModel.controllers.API.model.Unit.getInfo(document.getElementById('idUnit').value))">Test</button>
                        </p>
                    </div>

                    <div class="col-md-4">
                        <p>Process Documentation
                            <input type="text" size=10 id="idDoc" value="1047901">
                            <button type="button" class="btn btn-primary" onclick="TestAjax('API info',jsModel.controllers.API.model.ProcessDocumentation.getInfo(document.getElementById('idDoc').value))">Test</button>
                        </p>

                        <p>Location
                            <input type="text" size=10 id="idLoc" value="8">
                            <button type="button" class="btn btn-primary" onclick="TestAjax('API info',jsModel.controllers.API.model.Location.getInfo(document.getElementById('idLoc').value))">Test</button>
                        </p>

                        <p>Actor
                            <input type="text" size=10 id="idActor" value="571717">
                            <button type="button" class="btn btn-primary" onclick="TestAjax('API info',jsModel.controllers.API.model.Actor.getInfo(document.getElementById('idActor').value))">Test</button>
                        </p>

                        <p>Source
                            <input type="text" size=10 id="idSource" value="571822">
                            <button type="button" class="btn btn-primary" onclick="TestAjax('API info',jsModel.controllers.API.model.Source.getInfo(document.getElementById('idSource').value))">Test</button>
                        </p>

                        <p>Change Exch
                            <button type="button" class="btn btn-primary" onclick="TestAjax('API info',jsModel.controllers.API.model.Exchange.update(document.getElementById('idExchange').value),{'defaultProviderId':2052320})">Update</button>
                            <button type="button" class="btn btn-primary" onclick="TestAjax('API info',jsModel.controllers.API.model.Exchange.update(document.getElementById('idExchange').value),{'defaultProviderId':0})">Reset</button>
                            <button type="button" class="btn btn-danger" onclick="TestAjax('API info',jsModel.controllers.API.model.Exchange.insert(),{'processId':document.getElementById('idProcess').value,'flowId':574960,'isInput':1,'amountValue':10,'unitId':451})">New</button>
                        </p>

                        <p>Flow search
                            <input type="text" size=25 id="keyword" value="">
                            <button type="button" class="btn btn-primary" onclick="TestAjax('API info',jsModel.controllers.API.model.Flow.search(),{keyword:document.getElementById('keyword').value})">Search</button>
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade " id="danger" role="tabpanel" aria-labelledby="danger-tab">
            <div class="container">
                <div class="row api">
                    <div class="col-md-4">
                        <h2>Spark</h2>

                        <h3>Sync</h3>
                        <p>Sync All <button type="button" class="btn btn-danger" onclick="TestJson('Complete Sync', '/api/Spark/CompleteSync')">Test All</button></p>
                        <p>Sync Diff since 2016-06-21 14:45:00 <button type="button" class="btn btn-danger" onclick="TestJson('Diff Sync', '/api/Spark/DifferentialSync/1044200')">Test Diff</button></p>

                        <h3>Other</h3>
                        <p>Create Flow <button type="button" class="btn btn-danger" onclick="TestJson('CreateFlow', '/api/IED')">Create Flow</button></p>

                        <p>Save result
                            <button type="button" class="btn btn-danger" onclick="TestAjax('API info',jsAPI.controllers.API.Spark.saveResult(),jsonData);">Test</button>
                        </p>

                    </div>
                    <div class="col-md-4 nopadding">
                        <h2>Middleground</h2>
                        <label>Middleground file</label>
                        <div class="form-group">
                            <input type="file" id="middlegroundfile" input-label="middlegroundfilename" class="file" onchange="changeFile();">
                            <div class="input-group col-xs-12 ">
                                <span class="input-group-addon">
                                    <i class="fa fa-files-o"></i>
                                </span>

                                <input type="text" id="middlegroundfilename" class="form-control input-lg" disabled placeholder="Select file...">

                                <span class="input-group-btn">
                                    <button class="browse btn btn-primary input-lg" type="button" file-control="middlegroundfile"><i class="glyphicon glyphicon-search"></i> Browse</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group" align="right">
                            <button id="btnUploadFileMiddleGround" type="button" class="btn btn-default btn-primary" onclick="UploadMiddleGround();">Upload</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade " id="parameter" role="tabpanel" aria-labelledby="parameter-tab">
            <div class="container">
                <div class="row api">
                    <div class="col-md-4">
                        <h3>jsonData</h3>
                        <textarea id="jsonVar" rows="20" cols="200"></textarea><br>

                        <p><button type="button" class="btn btn-primary" onclick="loadJson();">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="saveJson();">Save</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer panel-footer out">
        <div id="out" class="container">
        </div>
    </footer>
    <script src="@routes.Assets.at("javascripts/devZone.js")"></script>
    <script>
            loadJson();
    </script>
}
