@main("Welcome to UBUBI") {
@*
PROJECT: UBUBI
Auth:
Mathieu Dupuis
Date: ETE 2017

Copyright [2017] [Mathieu Dupuis]

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

*@
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Welcome</h1>
            <p>This page is only temporary and will disappear at the end of development</p>
        </div>
    </div>

    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Client page</h2>
            <p>Open the current application.</p>
            <p><a class="btn btn-primary" href="@controllers.Web.routes.Application.client().url" role="button">Open »</a></p>
        </div>
        <div class="col-md-6">
            <h2>Dev page</h2>
            <p>Open the developer page. This page contain multiple control to test each functionality.</p>
            <p>Be sure to know all consequence of what you are doing before opening this page because you can break your UBUBI application</p>
            <p><a class="btn btn-primary" href="@controllers.Web.routes.Application.devZone().url" role="button">Open »</a></p>
        </div>
    </div>
    </div>
}
