@(project: String, idModel: Int)
@main("UBUBI - Results") {
@*
PROJECT: UBUBI
Auth:
Mathieu Dupuis
Date: ETE 2017

Copyright [2017] [Mathieu Dupuis]

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

*@
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

    <link href="@routes.Assets.at("css/chart.css")" rel="stylesheet"/>
    <script src="@routes.Assets.at("javascripts/rest.js")"></script>


    <nav id="menuTop" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">

            <div id="navbar" class="clearfix col-md-12">
                <div class="row">

                    <div class="col-md-3">
                        <select id="selResults" class="form-controlNav" onchange="">
                            <option value="-1"> - Select results - </option>
                        </select>
                        <input id="hidProjectName" value="@project" type="hidden">
                        <input id="hidProjectId" value="@idModel" type="hidden">
                    </div>

                    <div class="col-md-6">
                        <button id="btnDownload" class="btn btn-default btn-md">Download</button>
                        <button id="btnClose" class="btn btn-default btn-md">Close</button></div>

                    <div class="col-md-3" align="right">

                        @brand.render()
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container container-below-navbar" style="margin-top: 58px;">
        <div class="row">
            <div id="chartdiv" class="col-md-12"></div>
        </div>
    </div>
    <script src="@routes.Assets.at("javascripts/chart.js")"></script>
}
